.item {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    background-color: #e8e4e4;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    width: 30%;
}
.item img {
	width: 50px;
	border-radius: 50px;
}
.item:hover {
	box-shadow: inset 0px 0px 3px 0px rgb(0, 0, 0);
}
