.app-wrapper {
	display: grid;
	grid-template-areas:
	"h h h"
	"n c c";
	grid-template-rows: 80px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	width: 100%;
}
.app-wrapper__content {
	grid-area: c;
	background-color: #c19298;
}
	