.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	padding: 10px;
    grid-gap: 50px;
}
.messages {
	color: white;
    font-size: 18px;
}
.messages:before {
    content: "- ";
}
.active {
	color: #881280;
}
.messagTextarea textarea {
	width: 30%;
    height: 80px;
    border-radius: 4px;
    padding: 5px;
}
.messagesBtn button {
	background-color: #fff;
    border: 1px solid #696161;
    padding: 7px 28px;
    font-size: 14px;
    color: #060501;
}
.messagesBtn button:hover {
	box-shadow: inset 0px 0px 3px 0px rgb(0, 0, 0);
    cursor: pointer;
}